


.flex--container {
    display:flex;
    flex-direction: row;
    height: 91vh;

}
div {
    border: solid red 2px;
}
.left, .right{
    width: 50%;
    height: 100%;
}

.right {
    background-image: url('../images/udem-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.left--contenu {
    padding-top: 25%;
    color: #0057ac;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.btn--container {

    margin-top: 30%;
    border: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding-left: 15%;
    padding-right: 15%;
}

.login--button, .register--button{
    font-size: 0.75vw;
    color: white;
    font-weight: bold;
}
button {
    border: none;
    height: 4.5vh;
    width: 12vw;
    background-color: #0d6efd;
    border-radius: 15px !important;
    transition: background-color 0.25s ease-in-out;
}
button:hover {
    background-color:#0057ac;
}