
.register-page-container {
    position: absolute;
    top: 0px;
    background-image: url("../images/cafe-udem.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: -150px;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}
.register--form {
    width: 100%;
    display: flex;
    justify-content: center;
    border: green 2px solid;
}
.register-form-container {
    border: red 2px solid;
    display: flex;
    flex-direction: column;
}

.register-form-container > input:first-of-type {
    margin-top: 15vh;
}
.register-form-container > input {
    margin-top: 10vh;
    border-radius: 5px;
    width: 35vw;
    height: 4.5vh;
    border: none;
}
.register-form-container > input:focus {
    outline: none;
    border: 2.5px solid #0d6efd !important;
}

.register-submit {
    color: white;
    background: #0d6efd;
    
}

.register-form-container > h1{
    color: blue;
    font-size: 0.75vw;
    margin: 0;

}
