
.register-page-container {
    position: absolute;
    top: 0px;
    background-image: url("../images/cafe-udem.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: -150px;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.register--form {
    background-color: white;
    height: 8vw;
    width: 15vw;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register-form-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.register-form-container > input {
    width: 5vw;
}